body{
    background-color: rgb(40, 40, 40);
    background-attachment: fixed;
    width: 100vw;
}

h1{
    color: whitesmoke;
    text-align: center;
    font-family: Roc;
}

main{
    /* display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap; */
    position: relative;
    justify-items: center;
    height: 1000px;
    width: 1px;
}

main img{
    width: 600px;
    padding: 20px;
}

.uno{
    position:absolute;
    left: 30px;
    position: relative;
}

.bloque{
    opacity: 0.4;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 30px;
    left: 540px;
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.dos{
    position: absolute;
    top: 10px;
    left: 30px;
    position: relative;
}

.tres{
    position:absolute;
    top: -620px;
    left: 700px;
    position: relative;
}

.cuatro{
    position:absolute;
    top: -600px;
    left: 700px;
    position: relative;
}

.cinco{
    position:absolute;
    top: -800px;
    left: 30px;
    position: relative;
}

@font-face{
    font-family: Roc;
    src: url(..//skeetchbook/fonts/Fontspring-DEMO-rocgroteskextrawide-medium.otf);
}