body{
    background-image: url(images_menu/design-space-paper-textured-background.jpg);
}

h1{color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 70px;
}

img{
    width: 150px;
    padding: 80px;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

a{
    color: black;
}