header{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    
}

header img{
    height: auto;
    padding: auto;
    align-items:center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url(images_menu/hd_minecraft_background_by_banetm_d7m6vw5-pre.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0%;
}

img{
    size: 30px;
    width: 450px;
    padding: 10px;
}

section{
    width: 80px;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

a{
    color: black;
    margin-top: 0px;
    display: inline-block;
}

p{    
    background-image: url(images_menu/rectangulo.png);
    height: 60px;
    width: 40px;   
}