body{
    background-color:  rgb(40, 40, 40);
    width: 95%;
}

header{
    background-color: white;
    height: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner{
    background-color:  rgb(40, 40, 40);
    height: 200px;
    width: 100%;
}

header img{
    width: 500px;
    margin-top: 30px;
}

h1{
    color:  rgb(40, 40, 40);
    font-family: Roc;
    margin-top: -30px;
}

header a{
    color:  rgb(40, 40, 40);
    display:flex ;
    flex-direction: column;
}

main{
    background-color: white;
    width: 90%;
    height: 2500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}

main div{
    background-color: blanchedalmond;
    width: 400px;
    height: 400px;
    margin-top: 50px;
}

main img{
    width: 500px;
}
.uno{
    position: absolute;
    top: 0;
    left: 50px;
}

.dos{
    width: 500px;
    height: 400px;
    position: absolute;
    top: 500px;
    right: 50px;
}

.tres{
    position: absolute;
    top: 1000px;
    left: 50px;
}

.cuatro{
    position: absolute;
    top: 1500px;
    right: 50px;
}

.container{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 2000px;
    left: 400px;
}

.image {
    opacity: 0,3;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 3;
  }
  
  .text {
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    height: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }

  .link{
    color: white;
    text-decoration: none;
  }

footer{
    background-color:  rgb(198, 46, 46);
    height: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: white   ;
}

@font-face{
    font-family: Roc;
    src: url(fonts/Fontspring-DEMO-rocgroteskextrawide-medium.otf);
}
