body{
    background-image: url(img/fondo-1400x860.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 90%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

main{
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

header img{
    width: 60px;
}

header nav{
    width: 450px;
    display: flex;
    justify-content: space-between;
}

header, header nav div{
    display: flex ;
    justify-content: space-between;
    align-items: center ;
    color: white;
}

header nav img {
    width: 25px ;
    margin-right: 10px;
}

main section{
    width: 45%;
    height: auto;
    margin-bottom: 20px;
}

main{
    display: flex;
    justify-content: space-between;

}

h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    margin-top: 30px;
    height: auto;
}

h2{
    margin-top: -19px;
}

h3{
    color: deepskyblue;
    font-size: 12px;
}

h4{
    background-color: deepskyblue;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

h5{
    margin-top: 500px;
    margin-bottom: 2px;
}

p{
    margin-top: -4pt;
    display: flex;
    align-items: center;
    font-size: 9pt
}

p img{
    width: 20px;
    margin-left: 8px;
    margin-right: 6px;
}

footer{
    width: auto;
}

footer img{
    width: 240px;
}

.amarillo{
    color: gold;
    margin-right: 40px;
    margin-left: 80px;
}

.uno{
    color: white;
    width: auto;
    padding: 5px;
    height: 55px;
    display: flex;
    align-items: center;
    background-color:#222323;
}

.dos{
    background-color: #2a2829;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px
}